<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="Tests">
        <parameter name="baseUrl" value="https://www.globalsqa.com/angularJs-protractor/BankingProject/#/login"/>
        <parameter name="fname" value="TestFName"/>
        <parameter name="lname" value="TestLName"/>
        <parameter name="pcode" value="TestPCode"/>
        <packages>
            <package name="com.hello-selenium-project.test.java.tests"/>
        </packages>
    </test>
</suite>